<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>あのレストランでITを勉強してるでも難しいですが頑張りましょう</h1>
    <p>今朝６時に起きてそしてITを勉強してがんばてください</p>
    <div>
      <img class="img" src="images/yushing.png" alt="severclient" />
    </div>
  </body>
</html>
